*~
*autom4te.cache
aclocal.m4
compile
config.*
configure
depcomp
.deps
diff
.diff.swp
gtk-doc.make
INSTALL
install-sh
intltool-*
.libs
libtool
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
*.la
*.lo
*.o
sketch
stamp-h1
TODO
tundo
