*autom4te.cache
aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps
gtk-doc.make
INSTALL
install-sh
.libs
libtool
ltmain.sh
Makefile
Makefile.in
missing
*.lo
*.o
stamp-h1
